body{
    color: white;
    background: black;
    margin: 0px;

}

header{
    border-bottom: solid 2px rgb(51, 134, 197);
    padding: 20px;
    font-size: 23px;
    color: rgb(51, 134, 197);
    
}

section{
    background: rgb(230, 0, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


.chamada-texto{
    margin-right: 5%;
}

img{
    height: 200px;
}